http_interactions:
- request:
    method: get
    uri: https://apis.naver.com/commentBox/cbox/web_naver_list_jsonp.json?ticket=news&templateId=view_politics&pool=cbox5&lang=ko&country=KR&objectId=news015%2C0002303155&categoryId=&pageSize=1&indexSize=10&groupId=&page=1&initialize=true&useAltSort=true&replyPageSize=30&moveTo=&sort=FAVORITE
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/javascript;charset=UTF-8
      apigw-uuid: d6a78798-e08b-4a3b-8545-f97ad376d7e9
    body:
      encoding: UTF-8
      file: no
      string: "_callback({\"success\":true,\"code\":\"1000\",\"message\":\"<ec>š”ì²<ad><ec>„
        <ec>„±ê³µì <ec>œ¼ë¡<9c> ì²˜ë¦¬<ed>•˜<ec><98>\x80<ec>Šµ<eb>‹ˆ<eb>‹¤.\",\"lang\":\"ko\",\"country\":\"KR\",\"result\":{\"commentList\":[{\"ticket\":\"news\",\"objectId\":\"news015,0002303155\",\"categoryId\":\"*\",\"templateId\":\"view_politics\",\"commentNo\":\"1077873075\",\"parentCommentNo\":\"1077873075\",\"replyLevel\":1,\"replyCount\":0,\"replyAllCount\":0,\"replyPreviewNo\":null,\"replyList\":null,\"imageCount\":0,\"imageList\":null,\"imagePathList\":null,\"imageWidthList\":null,\"imageHeightList\":null,\"commentType\":\"txt\",\"stickerId\":null,\"sticker\":null,\"sortValue\":1506268843415,\"contents\":\"test\",\"userIdNo\":\"Rsvz\",\"exposedUserIp\":null,\"lang\":\"ko\",\"country\":\"KR\",\"idType\":\"naver\",\"idProvider\":\"naver\",\"userName\":\"park****\",\"userProfileImage\":\"\",\"profileType\":\"naver\",\"modTime\":\"2017-09-25T01:00:43+0900\",\"modTimeGmt\":\"2017-09-24T16:00:43+0000\",\"regTime\":\"2017-09-25T01:00:43+0900\",\"regTimeGmt\":\"2017-09-24T16:00:43+0000\",\"sympathyCount\":0,\"antipathyCount\":0,\"hideReplyButton\":false,\"status\":0,\"mine\":false,\"best\":false,\"mentions\":null,\"toUser\":null,\"userStatus\":0,\"categoryImage\":null,\"open\":true,\"levelCode\":null,\"grades\":null,\"sympathy\":false,\"antipathy\":false,\"metaInfo\":null,\"extension\":null,\"translation\":null,\"report\":null,\"middleBlindReport\":false,\"spamInfo\":null,\"userHomepageUrl\":null,\"defamation\":false,\"hiddenByCleanbot\":false,\"score\":0.0,\"ratings\":null,\"managerLike\":false,\"pick\":false,\"visible\":true,\"manager\":false,\"deleted\":false,\"idNo\":\"Rsvz\",\"expose\":true,\"maskedUserId\":\"park****\",\"maskedUserName\":\"pa****\",\"blindReport\":false,\"profileUserId\":null,\"userBlocked\":false,\"blind\":false,\"secret\":false,\"serviceId\":null,\"exposeByCountry\":false,\"validateBanWords\":false,\"containText\":true,\"virtual\":false,\"anonymous\":false}],\"userInfo\":{},\"pageModel\":{\"page\":1,\"pageSize\":1,\"indexSize\":10,\"startRow\":1,\"endRow\":1,\"totalRows\":3,\"startIndex\":0,\"totalPages\":3,\"firstPage\":1,\"prevPage\":0,\"nextPage\":2,\"lastPage\":3,\"current\":null,\"threshold\":null,\"moveToLastPage\":false,\"moveToComment\":false,\"moveToLastPrev\":false},\"morePage\":{\"prev\":\"04kc74c08jz5c\",\"next\":\"04kc74c08jz5c\",\"start\":null,\"end\":null},\"exposureConfig\":{\"reason\":null,\"status\":\"COMMENT_ON\"},\"count\":{\"comment\":3,\"reply\":0,\"exposeCount\":3,\"delCommentByUser\":0,\"delCommentByMon\":0,\"blindCommentByUser\":0,\"blindReplyByUser\":0,\"total\":3},\"listStatus\":\"current\",\"sort\":\"NEW\",\"config\":{\"useSnsLogin\":false,\"lineFeedOn\":false,\"useBest\":false,\"useVote\":true,\"useVoteSelf\":false,\"useVoteGoodOnly\":false,\"useReport\":true,\"useCommonReport\":false,\"reportAuthority\":\"ALL\",\"useDeleteOnManagerReport\":false,\"useReportSecret\":false,\"useSort\":true,\"sortTypes\":[\"NEW\"],\"defaultSort\":\"NEW\",\"useByteLength\":false,\"useReply\":true,\"useReplyOnReply\":false,\"pageAfterReply\":\"TO_LAST_PAGE\",\"maxReplyWriteBoxCount\":0,\"useAutoRefresh\":false,\"useMention\":false,\"min\":1,\"max\":300,\"useSticker\":false,\"stickerOnly\":false,\"stickerSupportedCategories\":null,\"stickerDefaultCategory\":null,\"stickerCategory\":null,\"stickerContentsUrl\":null,\"stickerKeyUrl\":null,\"stickerTabUrl\":null,\"stickerType\":null,\"stickerText\":false,\"stickerMarketUrl\":null,\"stickerMobileResize\":false,\"useProfile\":true,\"useNaverProfile\":true,\"dynamicProfile\":false,\"profileImageAreas\":[\"LIST\",\"WRITE\"],\"profileEmptyImage\":\"https://static.nid.naver.com/images/web/user/default.png?type=f132_132\",\"displayMaskedUserId\":false,\"useManager\":false,\"managerDelete\":false,\"managerBlock\":false,\"managerNotice\":false,\"contentsManagerIcon\":false,\"secretComment\":false,\"exposureConfig\":false,\"deleteAllAfterBlock\":false,\"useFold\":true,\"replyPreviewCount\":0,\"maxImageUploadCount\":0,\"maxImageUploadFileSize\":0,\"imageAutoRotate\":false,\"autoRefreshTime\":0,\"autoRefreshDefaultOff\":false,\"autoRefreshChat\":false,\"maxChatFPS\":0,\"commentModify\":false,\"useCommentModify\":false,\"useViewAll\":true,\"useUserLevel\":false,\"anyUseImageExpose\":true,\"useImageComment\":false,\"useUrlLink\":false,\"useCommentListIncludeDelete\":false,\"useStats\":true,\"statsMinCount\":100,\"useUserEnvStats\":false,\"countryStatsMinCount\":0,\"useConcurrentStats\":false,\"useVoteStats\":false,\"useGpopCache\":false,\"useEnterSubmit\":false,\"useListReverse\":false,\"useTranslation\":false,\"useDeletedList\":true,\"combinedDeletedList\":true,\"displayDeletedList\":true,\"applyChangedNotice\":false,\"useUserCommentUi\":true,\"useUserCommentProfileUi\":true,\"userRecentStatsStartDate\":1584543600000,\"userSortTypes\":[\"FAVORITE\",\"NEW\",\"OLD\",\"REPLY\"],\"useMentionLegacyFormat\":false,\"useMentionWrite\":false,\"mentionMaxCount\":0,\"useSecret\":false,\"useIdPenaltyLayer\":true,\"useRestrictWriteBySns\":false,\"photoInfraUploadDomain\":null,\"photoInfraSelectDomainHttp\":\"g-cbox.dv.phinf.net\",\"photoInfraSelectDomainHttps\":\"g-cbox.pstatic.net\",\"pcTempThumbnailType\":\"ff80_80\",\"mobileTempThumbnailType\":\"ff50_50\",\"realnameVerificationBlock\":false,\"realnameVerificationMessage\":null,\"useBlindByReport\":false,\"keepTextareaOnRestriction\":null,\"displayIndividualBlindOnly\":false,\"hashtagMaxLength\":20,\"useDualPagination\":false,\"reportReasonList\":[{\"reasonCode\":\"AA03\",\"reportReasonTitle\":\"<ec>Š¤<ed>Œ¸<ed>™ë³<b4>/<eb>„ë°°ê<b8>\x80<ec>…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"<ec>‚¬<ed>–‰<ec>„±
        <ec>˜¤<eb>½<ec>´<eb>‚˜ <eb>„ë°•ì„ <ed>™ë³´í•˜ê±°ë‚˜ ê¶Œì¥<ed>•˜<eb>Š” <eb>‚´<ec>š© <eb>“±<ec>˜
        ë¶\x80<ec> <ec> ˆ<ed>•œ <ec>Š¤<ed>Œ¸ <ed>™ë³<b4> <ed>–‰<ec>œ„\",\"<eb>™<ec>¼<ed>•˜ê±°ë‚˜
        <ec>œ <ec>‚¬<ed>•œ <eb>‚´<ec>š© ë°˜ë³µ ê²Œì‹œ\"]},{\"reasonCode\":\"AA14\",\"reportReasonTitle\":\"<ec>Œ<eb><9e>\x80ë¬¼ì…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"<ec>„±<ec> 
        <ec>ˆ˜ì¹˜ì‹¬<ec>„ <ec>¼<ec>œ¼<ed>‚¤<eb>Š” <eb>‚´<ec>š©\",\"<ec>•„<eb>™<ec>´<eb>‚˜ ì²<ad><ec>†Œ<eb>…„<ec>„
        <ec>„± <eb><8c>\x80<ec>ƒ<ed>™”<ed>•œ <ed>‘œ<ed>˜„\",\"ê³¼ë„<ed>•˜ê±°ë‚˜ <ec>˜<eb>„<ec> <ec>¸
        <ec>‹ ì²<b4> <eb>…¸ì¶<9c>\",\"<ec>Œ<eb><9e>\x80<ed>•œ <ed>–‰<ec>œ„<ec><99>\x80 ê´\x80<eb> ¨<eb>œ
        ë¶\x80<ec> <ec> ˆ<ed>•œ <eb>‚´<ec>š©\"]},{\"reasonCode\":\"AA29\",\"reportReasonTitle\":\"ë¶ˆë²•<ec> •ë³´ë<a5><bc>
        <ed>¬<ed>•¨<ed>•˜ê³<a0> <ec>ˆ<ec>Šµ<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"ë¶ˆë²•
        <ed>–‰<ec>œ„, ë¶ˆë²• ë§í¬<ec>— <eb><8c>\x80<ed>•œ <ec> •ë³<b4> <ec> œê³<b5>\",\"ë¶ˆë²• <ec>ƒ<ed>’ˆ<ec>„
        <ed>Œë§¤í•˜ê±°ë‚˜ <ec>œ <eb>„<ed>•˜<eb>Š” <eb>‚´<ec>š©\"]},{\"reasonCode\":\"AA33\",\"reportReasonTitle\":\"ì²<ad><ec>†Œ<eb>…„<ec>—ê²<8c>
        <ec>œ <ed>•´<ed>•œ <eb>‚´<ec>š©<ec>…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"ê°\x80ì¶<9c>/<ec>™•<eb>”°/<ed>•™êµí­<eb> ¥/<ec><ec>‚´
        <eb>“± ì²<ad><ec>†Œ<eb>…„<ec>—ê²<8c> ë¶\x80<ec> •<ec> <ec>¸ <ec>˜<ed>–¥<ec>„ ì¡°ì„±<ed>•˜<eb>Š”
        <eb>‚´<ec>š©\"]},{\"reasonCode\":\"AA01\",\"reportReasonTitle\":\"<ec>š•<ec>„¤/<ec>ƒëª…ê²½<ec>‹œ/<ed>˜<ec>˜¤/ì°¨ë³„<ec> 
        <ed>‘œ<ed>˜„<ec>…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"ì§Â·ê°„<ec> ‘<ec> <ec>¸
        <ec>š•<ec>„¤<ec>„ <ec>‚¬<ec>š©<ed>•˜<ec>—¬ <ed><83>\x80<ec>¸<ec>—ê²<8c> ëª¨ìš•ê°ì„ ì£¼ëŠ”
        <eb>‚´<ec>š©\",\"<ec>ƒëª…ì„ ê²½ì‹œ<ec>—¬ê¸°ê±°<eb>‚˜ ë¹„í•˜<ed>•˜<eb>Š” <eb>‚´<ec>š©\",\"ê³„ì¸µ/ì§\x80<ec>—­/ì¢…êµ/<ec>„±ë³<84>
        <eb>“±<ec>„ <ed>˜<ec>˜¤<ed>•˜ê±°ë‚˜ ë¹„í•˜<ed>•˜<eb>Š” <ed>‘œ<ed>˜„\",\"<ec>‹ ì²<b4>/<ec>™¸ëª<a8>/ì·¨í–¥
        <eb>“±<ec>„ ê²½ë©¸<ed>•˜<eb>Š” <ed>‘œ<ed>˜„\"]},{\"reasonCode\":\"AA34\",\"reportReasonTitle\":\"ê°œì¸<ec> •ë³<b4>
        <eb>…¸ì¶<9c> ê²Œì‹œë¬¼ì…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"ë²•ì <ec>œ¼ë¡<9c> ì¤‘ìš”<ed>•œ
        <ed><83>\x80<ec>¸<ec>˜ ê°œì¸<ec> •ë³´ë<a5><bc> ê²Œì¬\",\"<eb>‹¹<ec>‚¬<ec> <eb>™<ec>˜
        <ec>—†<eb>Š” <ed>Š¹<ec> • ê°œì¸<ec>„ <ec>¸ì§\x80<ed>•  <ec>ˆ˜ <ec>ˆ<eb>Š” <ec> •ë³<b4>\"]},{\"reasonCode\":\"AB28\",\"reportReasonTitle\":\"ë¶ˆì¾Œ<ed>•œ
        <ed>‘œ<ed>˜„<ec>´ <ec>ˆ<ec>Šµ<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"ë¶ˆì¾Œ<ed>•œ
        <ed>‘œ<ed>˜„ <ed>¬<ed>•¨ (<ed>•´<eb>‹¹ <ec>‚¬<ec>œ <eb>Š” <ed>´ë¦°ë´‡ <ed>•™<ec>Šµ<ec>—
        <eb>„<ec><9b>\x80<ec>´ <eb>  <ec>ˆ˜ <ec>ˆ<ec>Šµ<eb>‹ˆ<eb>‹¤.) \"]}],\"displayReportLayer\":true,\"useHideAfterReport\":true,\"useCleanbot\":true,\"cleanbotEnforced\":false,\"cleanbotServiceStepUI\":2,\"useCommentLinkToken\":true,\"useUserBlock\":true,\"useUserBlockNaverIdType\":true,\"useUserBlockNeoIdType\":false,\"useUserBlockProifleImageUi\":true,\"useChoice\":false,\"useNcc\":false,\"useRating\":false,\"ratingUseSingleType\":false,\"useScore\":false,\"scoreScale\":0,\"scoreSelectorCount\":0,\"useManagerLike\":false,\"usePick\":false,\"pickLimit\":0,\"pickManagerLimit\":0,\"useLMP\":false,\"blindReportReasonList\":[{\"reasonCode\":\"AA03\",\"reportReasonTitle\":\"<ec>Š¤<ed>Œ¸<ed>™ë³<b4>/<eb>„ë°°ê<b8>\x80<ec>…<eb>‹ˆ<eb>‹¤.\",\"reportReasonDetails\":[\"<ec>‚¬<ed>–‰<ec>„±
        <ec>˜¤<eb>½<ec>´<eb>‚˜ <eb>„ë°•ì„ <ed>™ë³´í•˜ê±°ë‚˜ ê¶Œì¥<ed>•˜<eb>Š” <eb>‚´<ec>š© <eb>“±<ec>˜
        ë¶\x80<ec> <ec> ˆ<ed>•œ <ec>Š¤<ed>Œ¸ <ed>™ë³<b4> <ed>–‰<ec>œ„\",\"<eb>™<ec>¼<ed>•˜ê±°ë‚˜
        <ec>œ <ec>‚¬<ed>•œ <eb>‚´<ec>š© ë°˜ë³µ ê²Œì‹œ\"]},{\"reasonCode\":\"AA14\",\"reportReasonTitle\":\"<ec>Œ<eb><9e>\x80ë¬¼[...]
[...]
