http_interactions:
- request:
    method: get
    uri: https://sports.news.naver.com/news?oid=477&aid=0000073768
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=UTF-8
      content-language: en-US
      x-proxy-cache: MISS
      x-rate-limit: NORMAL_CACHE
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<meta http-equiv=\"X-UA-Compatible\"
        content=\"requiresActiveX=true\">\n\t<meta name=\"viewport\" content=\"width=1080px,maximum-scale=2.0,minimum-scale=0.4,user-scalable=yes\">\n\t\n\t\t\n\t\t\t<meta
        property=\"me:feed:serviceId\" content=\"sports\"/>\n\t\t\t<meta property=\"me:feed:feedGroupId\"
        content=\"sports\"/>\n\t\t\t<meta property=\"me:feed:feedId\" content=\"\"/>\n\t\t\t<meta
        property=\"me:feed:feedName\" content=\"\"/>\n\t\t\t<meta property=\"me:feed:feedGroupName\"
        content=\"\"/>\n\t\t\t<meta property=\"me:feed:url\" content=\"\"/>\n\t\t\t<meta
        property=\"og:update_time\" content=\"20170512140936\"/>\n\t\t\t<meta property=\"article:contentLocation:name\"
        content=\"\"/>\n\t\t\t<meta property=\"article:contentLocation:url\" content=\"\"/>\n\t\t\n\t\t<meta
        property=\"og:type\"        content=\"article\"/>\n\t\t<meta property=\"og:image\"
        \      content=\"https://imgnews.pstatic.net/image/477/2017/05/12/0000073768_001_20170512140936965.jpg\"
        />\n\t\t<meta property=\"og:title\"       content=\"<ec>¸<ed>Œ<ed>‹°<eb>…¸ <ed>šŒ<ec>¥,
        FIFA ë¹„íŒ<ec>— &quot;ê°\x80ì§<9c> <eb>‰´<ec>Š¤Â·FIFA <eb>•Œë¦¬ê¸°&quot;\"/>\n\t\t<meta
        property=\"og:description\" content=\"<e2>–² ì§\x80<ec>•„<eb>‹ˆ <ec>¸<ed>Œ<eb>‹ˆ<eb>…¸
        FIFA <ed>šŒ<ec>¥[<ec>Š¤<ed>¬<ed>‹°ë¹„ë‰´<ec>Š¤=<ec>œ <ed>˜„<ed>ƒœ ê¸°ì] ì§\x80<ec>•„<eb>‹ˆ
        <ec>¸<ed>Œ<ed>‹°<eb>…¸ êµ<ad><ec> œì¶•êµ¬<ec>—°ë§<b9>(FIFA) <ed>šŒ<ec>¥<ec>´ ìµœê·¼ FIFA
        <ec>œ¤ë¦¬ìœ„<ec>›<ed>šŒ <ec>ˆ˜<ec>¥ <ed>•´<ec>„ <eb>“±<ec>„ <eb>‘˜<eb>Ÿ¬<ec>‹¼ ë¹„íŒ<ec>—
        <eb><8c>\x80<ed>•´ 'FIFA <eb>•Œë¦¬ê¸°'<ec><99>\x80 'ê°\x80ì§<9c> <eb>‰´<ec>Š¤'<eb>¼ë©<b0>
        <eb>‚ <ec>„ <ec>„¸<ec>› <eb>‹¤.<ec>˜êµ<ad> ë§¤ì²´ BBC<eb>Š” 12<ec>¼(<ed>•œêµ<ad> <ec>‹œê°<84>)
        <ec>¸<ed>Œ<ed>‹°<eb>…¸ <ed>šŒ<ec>¥<ec>´ ë°”ë ˆ<ec>¸ ë§ˆë‚˜ë§ˆì—<ec>„œ <ec>—´ë¦<b0> <ec> œ67<ed>šŒ
        FIFA ì´íšŒ<ec>—...\"/>\n\t\t<meta property=\"og:url\"         content=\"https://sports.news.naver.com/news?oid=477&aid=0000073768\"/>\n\t\t<meta
        property=\"og:article:author\" content=\"<eb>„¤<ec>´ë²<84> <ec>Š¤<ed>¬ì¸<a0> |
        <ec>Š¤<ed>¬<ed>‹°ë¹„ë‰´<ec>Š¤\"/>\n\t\t<meta property=\"og:article:author:url\"
        content=\"https://sports.news.naver.com\"/>\n\t\t<meta property=\"og:article:thumbnailUrl\"
        content=\"https://imgnews.pstatic.net/image/sports/common/naverme/image-sports.png\"/>\n\t\t<meta
        name=\"napp-site-analysis\" content=\"gdid=88156f89_000000000000000000073768,service=sports,collection=news,section=107\"/>\n\t\n\t\n\t\t\n\t\t\n\t\t\t<title><ec>¸<ed>Œ<ed>‹°<eb>…¸
        <ed>šŒ<ec>¥, FIFA ë¹„íŒ<ec>— \"ê°\x80ì§<9c> <eb>‰´<ec>Š¤Â·FIFA <eb>•Œë¦¬ê¸°\"</title>\n\t\t\n\t\n\t<link
        rel=\"shortcut icon\" href=\"/favicon.ico?v=20140331\" otype=\"image/x-icon\">\n\t<link
        rel=\"apple-touch-icon\" href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS6_57X57_iphone3.png\">
        \n\t<link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS7_76X76_ipad.png\">
        \n\t<link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS7_120X120_iphone.png\">
        \n\t<link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS7_152X152_ipad_retina.png\">
        \n\t<link rel=\"apple-touch-icon\" sizes=\"167x167\" href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS_167X167_iPadPro.png\">
        <!-- <eb> ˆ<ed>‹°<eb>‚˜ <ed>Œ¨<eb>“œ -->\n\t<link rel=\"apple-touch-icon\" sizes=\"180x180\"
        href=\"https://imgsports.pstatic.net/images/mobile/favicon_20180622/ios/iOS_180X180_iPhone.png\">
        <!-- <eb> ˆ<ed>‹°<eb>‚˜ <ed>Œ¨<eb>“œ -->\n\t<content tag=\"css\">\n\t\t<link rel='stylesheet'
        type='text/css' href='https://ssl.pstatic.net/static.sports/resources/pc/2022/02/11/124902/css/generated/nsportsCss.css'>\n\n\t\t<link
        rel='stylesheet' type='text/css' href='https://ssl.pstatic.net/static.sports/resources/pc/2022/02/11/124902/css/generated/newsEndOg.css'>\n\n\t</content>\n\t<script
        type='text/javascript' src='https://ssl.pstatic.net/static.sports/resources/pc/2022/02/11/124902/js/generated/newsCommon.js'
        charset='UTF-8'></script>\n\n\t\n\n<script>\n\ttry {\n\t\tvar deployPhase
        = 'release';\n\t\tif (deployPhase === 'release') {\n\t\t\tJEagleEyeClient.attachOnError();\n\n\t\t}
        else if (deployPhase === 'dev') {\n\t\t\tJEagleEyeClient.setDebugOnly(true);\n\t\t\tJEagleEyeClient.attachOnError();\n\n\t\t}
        else {\n\t\t\t// local\n\t\t\tJEagleEyeClient.attachOnError();\n\t\t}\n\t}
        catch (e) {\n\t\tconsole.log(e);\n\t}\n</script>\n\n\t<script type=\"text/javascript\"
        language=\"javascript\">\n\t\tvar sports_category=\"\";\n\t\tvar ccsrv=\"cc.naver.com\";\n\t\tvar
        nsc = \"sports.worldfootball\";\n\t\tvar gdid = \"88156f89_000000000000000000073768\";\n\t</script>\n</head>\n<body>\n\n<div
        id=\"u_skip\">\n\t<a href=\"#lnb_main_sub\" onclick=\"document.getElementById('lnb_main_sub').tabIndex=-1;document.getElementById('lnb_main_sub').focus();\"><span>ë©”ì¸
        ë©”ë‰´ë¡<9c> ë°”ë¡œê°\x80ê¸<b0></span></a>\n\t<div id=\"lnb_menu_link\"></div>\n\t<div
        id=\"container_link\"></div>\n</div>\n\n<div id=\"wrap\">\n\t\n\n\t\n\t\n\t\t<div
        id=\"header\" class=\"header\">\n\t\t\t<div class=\"sports_header\" role=\"banner\">\n\t\t\t\t\n\n<div
        class=\"snb_area\">\n\t<h1 class=\"logo_group\">\n\t\t<a href=\"https://www.naver.com\"
        class=\"logo_naver\" onClick=\"clickcr(this, 'STA.naverlogo', '', '', event);\"
        ><span class=\"blind\"><eb>„¤<ec>´ë²<84></span></a>\n\t\t<a href=\"https://sports.news.naver.com/\"
        class=\"logo_sports\" onClick=\"clickcr(this, 'STA.sports', '', '', event);\"><span
        class=\"blind\"><ec>Š¤<ed>¬ì¸<a0></span></a>\n\t</h1>\n\t<div class=\"service_group\">\n\t\t<a
        href=\"https://news.naver.com/\" onClick=\"clickcr(this, 'STA.news', '', '',
        event);\" class=\"link_news_service\"><span class=\"blind\"><eb>‰´<ec>Š¤</span></a>\n\t\t<a
        href=\"https://weather.naver.com/\" onClick=\"clickcr(this, 'STA.whether',
        '', '', event);\" class=\"link_weather_service\"><span class=\"blind\"><eb>‚ <ec>”¨</span></a>\n\t\t<a
        href=\"https://entertain.naver.com/\" onClick=\"clickcr(this, 'STA.entertain',
        '', '', event);\" class=\"link_entertain_service\"><span class=\"blind\">TV<ec>—°<ec>˜ˆ</span></a>\n\t\t<a
        href=\"https://m.sports.naver.com/beijing2022/index\" class=\"link_beijing2022\"><span
        class=\"blind\">BEIJING 2022</span></a>\n\t</div>\n</div>\n\t\t\t\t<!-- GNB
        -->\n\t\t\t\t<div class=\"gnb_area\">\n\t\t\t\t\t<div class=\"gnb_one\" id=\"gnb\"></div>\n\t\t\t\t</div>\n\t\t\t\t<!--
        GNB -->\n\t\t\t</div>\n\t\t\t\n\n\n\n\n<!-- ì¶”í›„ <ec> œê±<b0>, lnbMenuInfoList
        ë¥<bc> ë°›ì•„<ec>˜¤ê¸<b0> <ec>œ„<ed>•˜<ec>—¬ <ec>‚¬<ec>š©ì¤<91> -->\n\n            \n
        \           \n\n\n\n\n<script>\n\tvar lnbMenuInfoList = [{\"a\":\"\",\"side\":\"left\",\"c\":\"sportshome\",\"subMenuList\":[],\"h\":22,\"alt\":\"<ec>Š¤<ed>¬ì¸ í™ˆ\",\"className\":\"\",\"l\":\"0\",\"upperSection\":null,\"url\":\"/index\",\"off\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/home.png\",\"isImageTypeMenu\":false,\"alt_u\":\"\",\"w\":60,\"onUrl\":\"/index.nhn\",\"on\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/home_on.png\"},{\"a\":\"\",\"side\":\"left\",\"c\":\"baseball\",\"subMenuList\":[{\"a\":\"0\",\"side\":\"\",\"c\":\"news\",\"h\":22,\"alt\":\"ìµœì‹ <eb>‰´<ec>Š¤\",\"className\":\"\",\"l\":\"0\",\"upperSection\":null,\"url\":\"/kbaseball/news/index\",\"off\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_news.png\",\"isImageTypeMenu\":false,\"alt_u\":\"\",\"w\":60,\"onUrl\":\"/kbaseball/news/index.nhn;/kbaseball/news/read.nhn;/kbo/news/read.nhn;/baseballetc/news/read.nhn;/kbaseball/news/index.nhn;/kbo/news/index.nhn;/baseballetc/news/index.nhn;/news.nhn;/kbaseball/news/read;/kbo/news/read;/baseballetc/news/read;/kbaseball/news/index;/kbo/news/index;/baseballetc/news/index;/news\",\"on\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_news_on.png\"},{\"a\":\"0\",\"side\":\"\",\"c\":\"video\",\"h\":22,\"alt\":\"<ec>˜<ec>ƒ\",\"className\":\"\",\"l\":\"0\",\"upperSection\":null,\"url\":\"/kbaseball/vod/index\",\"off\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_video.png\",\"isImageTypeMenu\":false,\"alt_u\":\"\",\"w\":39,\"onUrl\":\"/kbaseball/vod/index.nhn\",\"on\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_video_on.png\"},{\"a\":\"0\",\"side\":\"\",\"c\":\"album\",\"h\":22,\"alt\":\"<ec>ƒ<ec>ƒ<ed>™”ë³<b4>\",\"className\":\"\",\"l\":\"0\",\"upperSection\":null,\"url\":\"/photocenter/albumList?category=kbo\",\"off\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_photo.png\",\"isImageTypeMenu\":false,\"alt_u\":\"\",\"w\":60,\"onUrl\":\"/photocenter/albumList.nhn?category=kbo;/photocenter/photoList.nhn?category=kbo;/photocenter/photo.nhn?category=kbo;/photocenter/photoList?category=kbo;/photocenter/photo?category=kbo\",\"on\":\"https://imgsports.pstatic.net/images/2015/PC/lnb2/sub_photo_on.[...]
